<div>
  <h1>Procesador de Archivos Scopus</h1>
  <p>
    Debes seleccionar uno o varios archivos txt de las exportaciones de scopus.
    Así te generará una tabla con los resultados.
  </p>
  <p>Posteriormente, podrás generar gráficas con dichos resultados.</p>
  <app-select-files (valueTableJson)="newTable($event)"></app-select-files>
  @if (globalArticles.length > 0) {
  <div class="graficas">
    <div>
      <p>
        Como en algunos casos nos encontraremos demasiados resultados, podemos
        filtrar a partir de cuantas repeticiones queremos que se incluya las
        palabras en la gráfica. Además, las palabras se cambian todas a
        minúsculas para evitar duplicados. Aún así, podemos encontrarnos algunas
        palabras similares, porque estén en singular o plural, o porque tengan
        alguna letra diferente.
      </p>
      <mat-form-field class="input">
        <mat-label>Cantidad Mínima de repeticiones para tener en cuenta en las gráficas</mat-label>
        <input
        matInput
        class="input"
        type="number"
        value=""
        placeholder="1"
        min="0"
        [(ngModel)]="minimumValue"
      />
      </mat-form-field>
    </div>
    <app-get-unique-keyword
      [childGlobalArticles]="globalArticles"
      [childTypeKeyword]="'authorKeyword'"
      (allCountValue)="saveListKeywords($event)"
      [childTotalChart]="minimumValue"
    ></app-get-unique-keyword>
    <app-get-unique-keyword
      [childGlobalArticles]="globalArticles"
      [childTypeKeyword]="'indexKeyword'"
      (allCountValue)="saveListKeywords($event)"
      [childTotalChart]="minimumValue"
    ></app-get-unique-keyword>
  </div>
  <div class="graficas">
    Número total de artículos: {{globalArticles.length}}
  </div>
  <div class="graficas">
    Número total de palabras filtradas: {{listTotalIndex.length}}
  </div>
  }
</div>


<div class="example-action-buttons">
  <button mat-raised-button (click)="accordion.openAll()">Expand All</button>
  <button mat-raised-button (click)="accordion.closeAll()">Collapse All</button>
</div>
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Tabla
      </mat-panel-title>
    </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        @if (globalArticles.length > 0) {
          <app-table [globalArticles]="globalArticles"></app-table>
        }
      </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Gráfica Pie
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      @if(!reloadChart && listTotalIndex.length > 0) {
      <app-chart-pie [childTotalIndex]="listTotalIndex"></app-chart-pie>
      }
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Gráfica Nube Palabras
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      @if(!reloadChart && listTotalIndex.length > 0) {
        <app-word-cloud
      [childTotalIndex]="listTotalIndex"
      ></app-word-cloud>
      }
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
